#overlay {
  width: 100% !important;
}

#mobileNavbar {
  width: 40vw;
}

nav {
  width: 100%;
  padding-top: 15px;
  position: relative;
  z-index: 997;
  height: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav img {
  width: 200px;
  margin-left: 30px;
}

nav #sections {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 0;
}

nav #sections p {
  font-weight: 600;
  color: black;
  font-size: 15px;
  margin-right: 50px;
}

nav #menu {
  width: 30px;
  height: 25px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
  margin-right: 30px;
  display: none;
}

nav #menu div {
  width: 100%;
  height: 3px;
  border: none;
  background: black;
}

#content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.landing-title{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 45px;
  color: white;
}
#content #landing {
  margin-bottom: 70px;
  width: 100%;
  height: 70vh;
  -webkit-transition: height 300ms;
  transition: height 300ms;
  position: relative;
  background-image: url("https://cdn.mos.cms.futurecdn.net/fs5rJxVnkbrumyJyfQ8tQg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
#selection-chambres {
  width: 100%;
  height: 700px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("https://i.postimg.cc/63tct1Vy/view.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 200px;
}
#title {
  z-index: 996;
  width: 90%;
  color: #fff;
  position: relative;
  margin-top: 75px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

 #title h1 {
  font-size: 35px;
}

 #title button {
  height: 50px;
  width: 220px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  font-family: "Caviar Dreams";
  background: transparent;
  border: solid 1px #fff;
  cursor: pointer;
  -webkit-transition: color 300ms, border 300ms, background 300ms;
  transition: color 300ms, border 300ms, background 300ms;
}

 #title button:hover {
  color: #021033;
  border-color: #021033;
  background: #fff;
}
#selection-chambres #seperation {
  height: 1px;
  width: 90%;
  background: #fff;
}

#main{
  margin-top: 200px;
  color: white;
  width: 90%;
}
#main h1{
  font-size: 70px;
  margin: 0;
}
#main h4{
  font-size: 30px;
  font-weight: 200;
}
#selection-chambres #gradient {
  position: absolute;
  width: 100%;
  height: 70%;
  bottom: 0;
  background: #021033;
  background: -webkit-gradient(linear, left bottom, left top, color-stop(-25%, #021033), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, #021033 -25%, rgba(0, 212, 255, 0) 100%);
}
#content #landing #input-wrapper {
  top: 95%;
}

#content #landing #gradient {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  background: #021033;
  background: -webkit-gradient(linear, left bottom, left top, from(#021033), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, #021033 0%, rgba(0, 212, 255, 0) 100%);
}

#content #landing #input-wrapper input[type="text"] {
  display: block;
  width: 100%;
  text-align: start;
}

#content #list-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content #list-wrapper #top {
  width: 70%;
}

#content #list-wrapper #top h1 {
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  margin-bottom: 14px;
  color: #021033;
}

#content #list-wrapper #list {
  margin-top: 25px;
  width: 90%;
  gap: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: start;
}

#content #list-wrapper #list .element {
  width: calc(25% - 25px);
  margin-bottom: 50px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
          text-align: center;
}
.element div h3{
  max-width: 75%;
}
#content #list-wrapper #list .element:first-child #background {
  background-image: url("https://i.postimg.cc/RWnRhjsH/hotel-1.png");
}

#content #list-wrapper #list .element:nth-child(2) #background {
  background-image: url("https://i.postimg.cc/jWH4Qyrq/hotel-2.png");
}

#content #list-wrapper #list .element:nth-child(3) #background {
  background-image: url("https://i.postimg.cc/d7yxM7Pg/hotel-3.png");
}

#content #list-wrapper #list .element:nth-child(4) #background {
  background-image: url("https://i.postimg.cc/1n07tLzH/hotel-4.png");
}

#content #list-wrapper #list .element:nth-child(5) #background {
  background-image: url("https://i.postimg.cc/mhNK2Fzs/hotel-5.png");
}

#content #list-wrapper #list .element:nth-child(6) #background {
  background-image: url("https://i.postimg.cc/SJg5cFf1/hotel-6.png");
}

#content #list-wrapper #list .element div {
  width: 100%;
  height: 600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#content #list-wrapper #list .element div:hover #background {
  width: 115%;
  height: 115%;
}

#content #list-wrapper #list .element div #background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: height 300ms, width 300ms;
  transition: height 300ms, width 300ms;
}

#content #list-wrapper #list .element div h3 {
  font-size: 30px;
  color: #fff;
  z-index: 999;
}

#content #list-wrapper #list .element button {
  background: transparent;
  border: solid 2px #021033;
  color: #021033;
  font-family: 'Caviar Dreams';
  font-size: 25px;
  width: 100%;
  height: 70px;
  -webkit-transition: color 400ms, background 400ms;
  transition: color 400ms, background 400ms;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

#content #list-wrapper #list .element button:hover {
  color: #fff;
  background: #021033;
}

#mail {
  width: 100%;
  margin-top: 100px;
  margin-bottom: 0px;
}
#mail #background{
  background-image:url("https://i.postimg.cc/c44RDnTG/planebg.png");
  color: white;
}

@media only screen and (max-width: 1235px) {
  nav {
    height: 100px !important;
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: row nowrap !important;
            flex-flow: row nowrap !important;
  }
  nav img {
    width: 200px !important;
    margin-left: 0;
  }
  nav #gradient {
    height: 100px !important;
  }
  nav #sections {
    display: none !important;
  }
  nav #menu {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media only screen and (max-width: 1100px) {
  footer {
    margin-top: 200px !important;
  }
}

@media only screen and (max-width: 1050px) {
  #list-wrapper {
    margin-top: 100px !important;
  }
  #selection-chambres {
    padding: 50px 0 !important;
    height: auto !important;
  }
  #selection-chambres #title {
    margin-top: 0 !important;
  }
  #selection-chambres #title h1 {
    font-size: 30px !important;
  }
  #selection-chambres #title button {
    font-size: 16px !important;
    height: 45px !important;
    width: 200px !important;
  }
  #selection-chambres #main {
    margin-top: 30px !important;
  }
  #selection-chambres #main h1 {
    font-size: 60px !important;
  }
  #selection-chambres #main p {
    font-size: 16px !important;
    width: calc(100% - 20px) !important;
  }
  #selection-chambres #main button {
    height: 55px !important;
    width: 200px !important;
    font-size: 16px !important;
  }
}

@media only screen and (max-width: 880px) {
  #landing {
    height: 400px !important;
  }
  #content #list-wrapper {
    margin-top: 50px !important;
  }
  #list-wrapper #list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  #list-wrapper #list .element {
    height: 400px !important;
    width: 100% !important;
  }
  .landing-title{
    padding-top: 0;
    text-align: center;
  }
  #content #list-wrapper>*{
    width: 90% !important;
  }
  
}

@media only screen and (max-width: 701px) {
  #list-wrapper #top h1 {
    font-size: 25px !important;
  }
  #top div{
    border: 1px solid;
    text-align: center;
  }
  #top div a{
    border-right: 1px solid;
  }
  footer{
    margin-top: 0 !important;
  }
  footer #upper img{
    width: 80%;
  }
  footer #lower{
    flex-direction: column;
    height: auto;
    gap: 30px;
  }
  #mail #background{
    height: auto;
  }
  #selection-chambres{
    margin-bottom: 0;
  }
  #selection-chambres #main h1{
    font-size: 40px !important;
  }
  #main h4{
    font-size: 20px;
  }
  #mail{
    margin: 0;
  }
  #mail #container{
    position: relative;
    width: 100% !important;
    left: 0 !important;
  }
  .landing-title{
    font-size: 35px;
  }
}

.line-limit{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
}