#overlay {
  width: 100% !important;
}

#mobileNavbar {
  width: 40vw;
}

nav {
  width: 100%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav #menu {
  margin-top: -2px;
}

nav #menu div {
  background: #000;
}

nav img {
  width: 200px;
  margin-left: 45vw;
}

#content {
  width: 100%;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#content #landing {
  width: 100%;
  height: auto;
  -webkit-transition: height 300ms;
  transition: height 300ms;
  position: relative;
  background-image: url("https://i.postimg.cc/63tct1Vy/view.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.landing-title{
  padding: 25%;
  font-size: 45px;
}
#content #landing #input-wrapper {
  top: calc(120vh - 30px);
}
.blog-subtitle{
  background: #F9EFE9;

}
#content #landing #gradient {
  position: absolute;
  width: 100%;
  height: 70%;
  top: 30%;
  background: #021033;
  background: -webkit-gradient(linear, left bottom, left top, from(#021033), to(rgba(0, 212, 255, 0)));
  background: linear-gradient(0deg, #021033 0%, rgba(0, 212, 255, 0) 100%);
}

#content #landing #input-wrapper input[type="text"] {
  display: block;
  width: 100%;
  text-align: start;
}

#content #list-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
          padding-bottom: 30px;
          background: #021033;
}

#content #list-wrapper #top {
  width: 90%;
}

#content #list-wrapper #top h1 {
  font-weight: 600;
  font-size: 45px;
  margin: 0;
  margin-bottom: 14px;
  color: #021033;
}

#content #list-wrapper #list {
  margin-top: 25px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
#content #list-wrapper #list h1 {
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  margin-top: 40px;
  color: white;
}
#contact-us-section .container button{
  background: transparent;
  border: solid 2px #021033;
  color: #021033;
  font-family: 'Caviar Dreams';
  font-size: 25px;
  width: 50%;
  height: 70px;
  -webkit-transition: color 400ms, background 400ms;
  transition: color 400ms, background 400ms;
  font-weight: 600;
  cursor: pointer;
  margin-top: 40px;
  margin-left: 25%;
}
.box{
  position: relative;
  bottom: 5rem;
  background: #F9EFE9;
  width: 80%;
}
#contact-us-section{
  background: #F9EFE9;
}
.box h1{
  font-size: 20px !important;
  color: #FF5500 !important;
}
#contact-us h1{
  font-weight: 400;
  font-size: 45px;
  margin: 0;
  margin-bottom: 14px;
  color: #021033;
}
#content #list-wrapper #list .element {
  width: calc(50% - 25px);
  margin-bottom: 50px;
  height: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#content #list-wrapper #list .element:first-child #background {
  background-image: url("https://i.postimg.cc/RWnRhjsH/hotel-1.png");
}

#content #list-wrapper #list .element:nth-child(2) #background {
  background-image: url("https://i.postimg.cc/jWH4Qyrq/hotel-2.png");
}

#content #list-wrapper #list .element:nth-child(3) #background {
  background-image: url("https://i.postimg.cc/d7yxM7Pg/hotel-3.png");
}

#content #list-wrapper #list .element:nth-child(4) #background {
  background-image: url("https://i.postimg.cc/1n07tLzH/hotel-4.png");
}

#content #list-wrapper #list .element:nth-child(5) #background {
  background-image: url("https://i.postimg.cc/mhNK2Fzs/hotel-5.png");
}

#content #list-wrapper #list .element:nth-child(6) #background {
  background-image: url("https://i.postimg.cc/SJg5cFf1/hotel-6.png");
}

#content #list-wrapper #list .element div {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

#content #list-wrapper #list .element div:hover #background {
  width: 115%;
  height: 115%;
}

#content #list-wrapper #list .element div #background {
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition: height 300ms, width 300ms;
  transition: height 300ms, width 300ms;
}

#content #list-wrapper #list .element div h3 {
  font-size: 30px;
  color: #fff;
  z-index: 999;
}

#content #list-wrapper #list .element button {
  background: transparent;
  border: solid 2px #021033;
  color: #021033;
  font-family: 'Caviar Dreams';
  font-size: 25px;
  width: 100%;
  height: 70px;
  -webkit-transition: color 400ms, background 400ms;
  transition: color 400ms, background 400ms;
  font-weight: 600;
  cursor: pointer;
  margin-top: 20px;
}

#content #list-wrapper #list .element button:hover {
  color: #fff;
  background: #021033;
}

#mail #certif {
  margin: 0 !important;
  position: relative;
  height: auto;
}
#content #mail {
  width: 100%;
  margin: 0!important;
  text-align: center;
  font-size: 25px;
}
#mail #background{
  background-image: none;
}

#destinations div h3{
  font-size: 20px;
  color: white;
}
.bg-letter{
  background: #FF5500;
  padding-top: 10px;
  padding-right: 10px;
}
.listes{
  list-style: none;
  display: none;
}
.menu-btn svg{
  display: none !important;
}
#arrow{
  display: none;
}
.close-icon{
  opacity: 0;
  position: fixed;
  z-index: 202;
  width: 35px;
  top: 3vh;
  right: 3vw;
}
.return-btn{
  position: absolute;
  top: 3vh;
  width: 35px;
  right: 3vw;
  cursor: pointer;
  z-index: 250;
}
@media only screen and (max-width: 1050px) {
  #list-wrapper {
    padding-top: 100px !important;
  }
}

@media only screen and (max-width: 880px) {
  #landing {
    height: 400px !important;
  }
  #list-wrapper {
    padding-top: 20px !important;
  }
  #list-wrapper #list {
    -webkit-box-orient: vertical !important;
    -webkit-box-direction: normal !important;
        -ms-flex-flow: column nowrap !important;
            flex-flow: column nowrap !important;
  }
  #list-wrapper #list .element {
    height: 400px !important;
    width: 100% !important;
  }
  #destinations{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    justify-content: center;
  }
  h1{
    font-size: 25px !important;
  }
  #destinations div div{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #destinations div div h1{
    margin-top: 10px !important;
  }
  #destinations div h3{
    display: none;
  }
  #destinations div{
    cursor: pointer;
  }
  .menu-btn svg{
    display: block !important;
    width: 20px;
    cursor: pointer;
  }
  .listes{
    position: fixed;
    top: 0px;
    left: -100%;
    background: #021033;
    height: 100vh;
    width: 100%;
    text-align: left;
    display: block;
    transition: all ease 0.3;
    z-index: 200;
    padding-left: 5%;
    padding-top: 30%;
    overflow-y: scroll;
  }
  .listes>*{
    margin-top: 30px;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 90%;
  }
  .listes svg{
    width: 20px;
  }
  .checked{
    top: 0;
    left: 0%;
  }
  /* .overlay::after {
    content: "";
    background: hsl(0, 0%, 29%);
    width: 100vw;
    height: 185vh;
    z-index: 190;
    position: absolute;
    top: 0;
    left: 0px;
    opacity: 0.7;
    transition: all ease 0.3s;
  } */
}

@media only screen and (max-width: 701px) {
  #list-wrapper #top h1 {
    font-size: 25px !important;
  }
  #contact-us-section{
    padding-left: 15%;
    padding-right: 15%;
  }
  nav img{
    margin-left: 10vw;
  }
  img.mt-4{
    width: 100%;
  }
  .container #cards{
    display: flex;
    flex-direction: column;
  }
  #contact-us-section .container button{
    width: 75%;
    margin-left: 10vw;
  }
  #content #mail {
    width: 100%;
    margin-top: 100px!important;
    text-align: center;
    font-size: 25px;
  }
  #background .flex{
    flex-direction: column;
  }
  #email{
    width: 100%;
  }
  #mail #background{
    height: auto;
  }
  footer #upper img{
    width: 80%;
  }
  footer #lower{
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }
}
